Source: rainier-icon-theme
Section: gnome
Priority: extra
Maintainer: Kenneth Stier (Trenta.io) <kenny@trenta.io>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://trenta.io/

Package: rainier-icon-theme
Architecture: all
Depends: elementary-icon-theme, ${shlibs:Depends}, ${misc:Depends}
Description: Rainier Icon Theme
 A crisp, modern icon theme for Trenta OS.

